.body {
    background-color: #16325B;
    height: 100px;
    width: 100px;
    margin-top: 10%;
}

#div_a, #div_d {
    height: 500px;
    width: 800px;
    background-color: #55679C;
    margin: 10px;
    border-radius: 10px;
}

#div_b, #div_c {
    height: 500px;
    width: 300px;
    background-color: #7C93C3;
    margin: 10px;
    border-radius: 10px;
}

.container, .container_b {
    width: 200vh;
    display: flex;
    justify-content: center;
}

.animation {
    width: 200vh;
    margin-top: -100px;
    margin-top: -50vh;
}

@keyframes Move_side {
    0% {
        transform:  translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#headA {
    animation: Move_side 8s linear infinite;
    color: whitesmoke;
}

#headB {
    animation:  Move_side 10s linear infinite;
    color: skyblue;
}

#para {
    height: 340px;
    width: 100vh;
    overflow: auto;
    display: flex;
    margin-left: 10%;
}

#parag {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#headers {
    font-size: 40px;
}

#side_pics {
    margin: 10px;
    width: 270px;
    height: 240px;
    box-shadow: 0px 10px 7px gray;
    border-radius: 10px;
    transition: all 0.3s ease  ;
}

#side_pics:hover {
    border-radius: 10px 62px 15px 62px;
}

#tr {
    font-weight: bold;
}

#para_divs {
    margin-left: 10px;
}

#sps {
    margin: 10px;
    width: 260px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 10px 8px gray;
}

#info {
    font-size: 15px;
}

.animationB {
    width: 200vh;
    margin-top: 50%;
}
#paraA {
    font-size: 20px;
    width: 100vh;
    margin-left: 6%;
    color: aliceblue;
    font-weight: bold;
}